html, body{
    height: 100%;
}

body{
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    /* display: flex; */
    /* flex: 1 0 auto; */
    /* flex-direction: column; */
    /* background-image: url("assets/images/beige-tiles.png"); */
}

.header{
    background: ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 50px;
    border-bottom: solid #cccccc;
    overflow: auto;
    /* flex: 1 0 auto; */
}

#title{
    background: #4aaaa5;
    color: white;
    width: 100%;
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    text-align: center;
    float: left;
    height: 60px;
    margin: auto;
}

#links{
    float:right;
    color: #777777; 
    height: 60px;
}

a:link{
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
}

.about_body{
    clear: both;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #dddddd;
    margin-top: 40px;

    /* margin-bottom: 80px; */
    /* flex: 1 0 auto; */
}

#about_header{
    padding-bottom: 25px;
    border-bottom: solid #777777;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


.portfolio_body{
    clear: both;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #dddddd;
    margin-top: 40px;
    /* flex: 1 0 auto; */
}

#portfolio_header{
    padding-bottom: 25px;
    border-bottom: solid #777777;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.contact_body{
    clear: both;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #dddddd;
    margin-top: 40px;
    /* flex: 1 0 auto; */
}

#contact_header{
    padding-bottom: 25px;
    border-bottom: solid #777777;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

footer{
    clear:both;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    /* flex-shrink 0; */
    position: absolute;
    bottom: 0px;
}